# Appendix J: Tables for bias correction factors and scaling factors

For additional context see Appendix J of [The Virus of Variation](https://www.brokenquality.com/book). Questions? Email James.Lehner@gmail.com or QualityIsBroken@gmail.com.

In [4]:
# Import libraries
import pandas as pd

%matplotlib inline

## Get the data

The datasets are referenced in this appendix:

`bias-correction-factor-table.csv`
`average-range-chart-scaling-factors-using-average-range.csv`
`average-range-chart-scaling-factors-using-median-range.csv`

The datasets can be found at https://github.com/jimlehner/the-virus-of-variation/tree/main/data.

In [5]:
# Get data function
def get_data(dataset_url) -> pd.DataFrame:
    return pd.read_csv(dataset_url)

In [6]:
# Bias correction factors url
bias_url = r'https://raw.githubusercontent.com/jimlehner/the-virus-of-variation/refs/heads/main/data/bias-correction-factor-table.csv'

# Scaling factors using average range url
average_scaling_url = r'https://raw.githubusercontent.com/jimlehner/the-virus-of-variation/refs/heads/main/data/average-range-chart-scaling-factors-using-average-range.csv'

# Scaling factors using median range url
median_scaling_url = r'https://raw.githubusercontent.com/jimlehner/the-virus-of-variation/refs/heads/main/data/average-range-chart-scaling-factors-using-median-range.csv'

# Get data
bias_df = get_data(bias_url)

average_scaling_df = get_data(average_scaling_url)

median_scaling_df = get_data(median_scaling_url)

## Table J.1. Bias correction factors

In [8]:
bias_df

        n     d2      d3     d4
0     2.0  1.128  0.8525  0.954
1     3.0  1.693  0.8884  1.588
2     4.0  2.059  0.8798  1.978
3     5.0  2.326  0.8641  2.257
4     6.0  2.534  0.8480  2.471
5     7.0  2.704  0.8332  2.645
6     8.0  2.847  0.8198  2.791
7     9.0  2.970  0.8078  2.915
8    10.0  3.078  0.7971  3.024
9    11.0  3.173  0.7873  3.121
10   12.0  3.258  0.7785  3.207
11   13.0  3.336  0.7704  3.285
12   14.0  3.407  0.7630  3.356
13   15.0  3.472  0.7562  3.422
14   16.0  3.532  0.7499  3.482
15   17.0  3.588  0.7441  3.538
16   18.0  3.640  0.7386  3.591
17   19.0  3.689  0.7335  3.640
18   20.0  3.735  0.7287  3.686
19    NaN    NaN     NaN    NaN
20   21.0  3.778  0.7242  3.730
21   22.0  3.819  0.7199  3.771
22   23.0  3.858  0.7159  3.811
23   24.0  3.895  0.1210  3.847
24    NaN    NaN     NaN    NaN
25   25.0  3.931  0.7084  3.883
26   30.0  4.086  0.6927  4.037
27   35.0  4.213  0.6799  4.166
28   40.0  4.322  0.6692  4.274
29   45.0  4.415  0.6601  4.372
30   50.0  4.498  0.6521  4.450
31   55.0  4.572  0.6452  4.521
32   60.0  4.639  0.6389  4.591
33   65.0  4.699  0.6333  4.649
34   70.0  4.755  0.6283  4.707
35   75.0  4.806  0.6236  4.757
36   80.0  4.854  0.6194  4.806
37   85.0  4.898  0.6154  4.849
38   90.0  4.939  0.6118  4.892
39  100.0  5.015  0.6052  4.968

## Table J.2. Scaling factors using average range

In [9]:
average_scaling_df

     n     A2     D3     D4     E2
0    2  1.881     --  3.268  2.660
1    3  1.023     --  2.574  1.772
2    4  0.729     --  2.282  1.457
3    5  0.577     --  2.114  1.290
4    6  0.483     --  2.004  1.184
5    7  0.419  0.076  1.924  1.109
6    8  0.373  0.136  1.864  1.054
7    9  0.337  0.184  1.816  1.010
8   10  0.308  0.223  1.777  0.975
9   11  0.285  0.256  1.744  0.945
10  12  0.266  0.283  1.717  0.921
11  13  0.249  0.307  1.693  0.899
12  14  0.235  0.328  1.672  0.881
13  15  0.223  0.347  1.653  0.864

## Table J.3. Scaling factors using median range

In [7]:
median_scaling_df

     n     A4     D5     D6     E5
0    2  2.224     --  3.865  3.145
1    3  1.091     --  2.745  1.889
2    4  0.758     --  2.375  1.517
3    5  0.594     --  2.179  1.329
4    6  0.495     --  2.055  1.214
5    7  0.429  0.078  1.967  1.134
6    8  0.380  0.139  1.901  1.075
7    9  0.343  0.187  1.850  1.029
8   10  0.314  0.227  1.809  0.992
9   11  0.290   0.26  1.773  0.961
10  12  0.270  0.288  1.774  0.935
11  13  0.253  0.312  1.719  0.913
12  14  0.239  0.333  1.697  0.894
13  15  0.226  0.352  1.678  0.877